{% extends 'base.html' %}

{% block title %}Promotores - Promo Concert{% endblock %}

{% block content %}
    <!-- Contenedor principal para la foto de fondo -->
    <div class="background-container-detInterprete">
        <!-- Foto de fondo (semi-transparente) -->
        <img src="{{ promotor.foto.url }}" alt="Foto de fondo {{ promotor.nombre }}" class="background-photo-interprete">
        <!-- Foto del festival (redonda) -->
        <img src="{{ promotor.foto.url }}" alt="Foto de {{ promotor.nombre }}" class ="interprete-image">

        <h2> {{ promotor.nombre }} </h2>

    </div>

    <!-- Detalles del festival -->
    <div class="promotor-detalles">
        <h2>Descripción </h2>
        <p>{{ promotor.descripcion|linebreaksbr }}</p>
        <h2>Festivales </h2>
        {% if festivales %}
        <div class="festival-grid">
            {% for festival in festivales %}
            <a href="{% url 'detalles_festival' festival.id %}">
                <div class="festival-card">
                        <img src="{{ festival.fotoFondo.url }}" alt="Imagen de {{ festival.nombre }}" class="festival-image">
                        <p class="festival-name">{{ festival.nombre }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% else %}
            <p>No se encontraron festivales para este promotor.</p>
        {% endif %}
    </div>
{% endblock %}