{% extends 'base.html' %}
{% load static %}

{% block title %}Promotores - Promo Concert{% endblock %}

{% block content %}
    <ul>
        {% for promotor in promotores %}
            <li>
                <a href="{% url 'detalles_promotor' id=promotor.id %}">
                    <h2>{{ promotor.nombre }}</h2>
                    {% if promotor.foto %}
                        <img src="{{ promotor.foto.url }}" alt="Foto de {{ promotor.nombre }}" style="max-width: 300px;">
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
