{% extends 'base.html' %}

{% block title %}Intérpretes - Promo Concert{% endblock %}

{% block content %}
    <!-- Contenedor principal para la foto de fondo -->
    <div class="background-container-detInterprete">
        <!-- Foto de fondo (semi-transparente) -->
        <img src="{{ interprete.fotoFondo.url }}" alt="Foto de fondo {{ interprete.nombre }}" class="background-photo-interprete">
        <!-- Foto del festival (redonda) -->
        <img src="{{ interprete.foto.url }}" alt="Foto de {{ interprete.nombre }}" class ="interprete-image">

        <h2> {{ interprete.nombre }} </h2>

    </div>

    <!-- Detalles del festival -->
    <div class="interprete-detalles">
        <h2>Descripción </h2>
        <p>{{ interprete.info_general |linebreaksbr }}</p>
        <h2>Genero musical </h2>
        <p>{{interprete.genero_musica }}</p>
    </div>
        <div class="festivales-container">
        <h2 class="titulo-festivales">Festivales</h2>
        {% if festivales %}
        <div class="interpretes-festivales">
            {% for festival in festivales %}
            <div class="festival-item">
                <a href="{% url 'detalles_festival' id=festival.id %}">
                    <img src="{{ festival.foto.url }}" alt="{{ festival.nombre }}" class="interprete-festival-foto">
                    <p class="interprete-festival-nombre">{{ festival.nombre }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    
        
        {% else %}
            <p>No se encontraron festivales para este intérprete.</p>
        {% endif %}
    </div>
{% endblock %}
