<!-- app1/templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - Promo Concert{% endblock %}

{% block content %}
    <div class="video-background">
        <video autoplay loop muted playsinline class="background-video">
            <source src="{% static 'media/videos/cortado.mp4' %}" type="video/mp4">
            Tu navegador no soporta el video en HTML5.
        </video>

        <img src="{% static 'media/logo/logoPeq.png' %}" alt="LogoPeq" class="logoPeq">
    </div>

    <!-- Contenido de festivales -->
    <h1>Nuestros festivales más destacados</h1>
    {% if index %}
        <div class="festival-item">
            <ul>
                {% for item in index %}
                    <li>
                        <div class = "festival-foto-inicio">
                            {% if item.festival.foto %}
                                <img src="{{ item.festival.foto.url }}" alt="Foto de {{ item.festival.nombre }}" class="festival-imagen">
                            {% endif %}
                            <div class = "texto-oculto">
                                <p><strong>Fecha:</strong> {{ item.festival.fecha }}</p>
                                <p><strong>Ubicación:</strong> {{ item.festival.ubicacion }}</p>
                                <p><strong>Precio:</strong> {{ item.festival.precio }} €</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No hay festivales disponibles para estos promotores.</p>
    {% endif %}

    <script src="{% static 'js/index.js' %}"></script>
    
{% endblock %}

{% block extra_scripts %}
    <!-- Cargar el script específico para esta página -->
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}