{% extends 'base.html' %}
{% load static %}

{% block title %}Intérpretes - Promo Concert{% endblock %}

{% block content %}
<div class="festival-foto-contenedor">
    <img src="{{ festival.fotoFondo.url }}" alt="Foto del festival {{ festival.nombre }}" class="foto-festival">
    
   
    <div class="festival-texto-encima">
        <h2>{{ festival.nombre }}</h2>
        <h3>{{ festival.fecha }}</h3>
    </div>
</div>
<div class="festival-contenedor">
    <!-- Lado izquierdo (Descripción) -->
    <div class="festival-descripcion">
        <h2>Descripción</h2>
        <div class="descripcion-caja">
            <p>{{ festival.descripcion }}</p>
        </div>
    </div>

    <!-- Lado derecho (Detalles y Comprar Entrada) -->
    <div class="festival-detalles">
        <h2>Detalles</h2>
        <div class="detalles-caja">
            <h3>Fecha: {{ festival.fecha }}</h3>
        </div>
        <div class="detalles-caja">
            <h3>Ubicación: {{ festival.ubicacion }}</h3>
        </div>
        <div class="detalles-caja">
            <h3>Precio: {{ festival.precio }} €</h3>
        </div>

        <span id="entradas-disponibles" data-entradas="{{ festival.entradasDisponibles }}" style="visibility:hidden;">
            {{ festival.entradasDisponibles }}
        </span>

        
        {% if festival.entradasDisponibles > 0 %}
            <a href="{% url 'formulario' id=festival.id %}">
                <button class="comprar-btn" id="comprar-btn">Comprar Entrada</button>
            </a>
        {% else %}
            <button class="comprar-btn agotado-btn" id="comprar-btn" disabled>Agotado</button>
        {% endif %}
        
    </div>
</div>

<!-- Carrusel de intérpretes -->
<h2>Intérpretes:</h2>
<div class="carrusel-container carrusel-abajo">
    <div class="carrusel">
        {% for interprete in festival.interpretes.all %}
            <div class="carrusel-item">
                <li class="listainterpretes">
                    <img src="{{ interprete.foto.url }}" alt="{{ interprete.nombre }}" class="interprete-foto">
                    <p>{{ interprete.nombre }}</p>
                </li>
            </div>
        {% endfor %}
    </div>
    <button class="carrusel-button prev">&#10094;</button>
    <button class="carrusel-button next">&#10095;</button>
</div>

{% endblock %}
{% block extra_scripts %}
    <!-- Cargar el script específico para esta página -->
    <script src="{% static 'js/carrusel.js' %}"></script>
{% endblock %}