{% extends 'base.html' %}
{% load static %}

{% block title %}Intérpretes - Promo Concert{% endblock %}

{% block content %}
<div class="festival-foto-contenedor">
    <img src="{{ festival.foto.url }}" alt="Foto del festival {{ festival.nombre }}" class="foto-festival">
    
   
    <div class="festival-texto-encima">
        <h2>{{ festival.nombre }}</h2>
        <h3>{{ festival.fecha }}</h3>
    </div>
</div>

<div class="festival-detalles">
    <h2>Descripción: </h2>
    <p>{{ festival.descripcion }}</p>
    <h2>Fecha: </h2>
    <p>{{ festival.fecha }}</p>
    <h2>Ubicación:</h2>
    <p>{{ festival.ubicacion }}</p>
    <h2>Precio: </h2>
    <p>{{ festival.precio }} €</p>


<h2>Intérpretes:</h2>
<div class="carrusel-container carrusel-abajo">
    <div class="carrusel">
        {% for interprete in festival.interpretes.all %}
            <div class="carrusel-item">
                <li class="listainterpretes">
                    <img src="{{ interprete.foto.url }}" alt="{{ interprete.nombre }}" class="interprete-foto">
                    <p>{{ interprete.nombre }}</p>
                </li>
            </div>
        {% endfor %}
    </div>
    <button class="carrusel-button prev">&#10094;</button>
    <button class="carrusel-button next">&#10095;</button>
</div>

{% endblock %}
{% block extra_scripts %}
    <!-- Cargar el script específico para esta página -->
    <script src="{% static 'js/carrusel.js' %}"></script>
{% endblock %}